.escenario{
    border: 1px solid #333;
    padding: 10px;
}

.escenario-1{
    font-size: 32px;
}

.escenario-2{
    font-size: 16px;
}
.em{/* hace refencia al tamaño de fuente de su contennedor*/
    font-size: 2em;
}

.rem{ /*Hace referencia al tamaño de raiz las dos son imprescidibles en el diseño responsive */
    font-size: 2rem;
}